@charset "utf-8";


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 400px;
    height: 500px;
    margin: 10px;
}

.gallery img:hover {
    transform: scale(1.05);
}

p {
    text-align: center;
    margin: 0px 0px 10px 0px;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    justify-items: center;
}

.show{
 max-width: 400px;
 max-height: 500px;
}